<?xml version="1.0"?>
<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="MailboxRestore.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <system.diagnostics>
		<switches>
			<add name="Global" value="3"/>
		</switches>
		<trace autoflush="true" indentsize="0">
			<listeners>
				<remove name="Default"/>
				<add name="TextListener" type="GFI.Common.DirectoryListener, GFI.Common.Tracing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4637077a7a2c17fb" initializeData="DebugLogs\"/>
			</listeners>
		</trace>
	</system.diagnostics>
	<startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<system.runtime.remoting>
		<application>
			<client>
				<wellknown type="MArc.Ada.Security.AdaAuthentication, MArc.Ada.Authentication" url="tcp://localhost:8017/Core/ADA"/>
				<wellknown type="MArc.Ada.Services.AdaInformation, MArc.Ada.Services" url="tcp://localhost:8017/Core/Information"/>
			</client>
			<channels>
				<channel ref="tcp" secure="true">
					<clientProviders>
						<provider type="MArc.Ada.Security.AdaClientSinkProvider, MArc.Ada.Authentication"/>
						<formatter ref="binary" typeFilterLevel="Full"/>
					</clientProviders>
					<serverProviders>
						<formatter ref="binary" typeFilterLevel="Full"/>
						<provider type="MArc.Ada.Security.AdaServerSinkProvider, MArc.Ada.Authentication"/>
					</serverProviders>
				</channel>
			</channels>
		</application>
	</system.runtime.remoting>
  <appSettings>
    <add key="RegKeyURL" value="GFI\MAR15" />
  </appSettings>
  <applicationSettings>
    <MailboxRestore.Properties.Settings>
      <setting name="OnlineURL" serializeAs="String">
        <value>http://manuals.gfi.com/{language}/mar15admin/{section}</value>
      </setting>
    </MailboxRestore.Properties.Settings>
  </applicationSettings>
</configuration>
