<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.runtime.remoting>
    <application>  
      <client>
        <wellknown mode="Singleton" type="MArc.Ada.Security.AdaAuthentication, MArc.Ada.Authentication" url="tcp://localhost:8017/Core/ADA"/>
		    <wellknown type="MArc.Ada.Services.AdaInformation, MArc.Ada.Services" url="tcp://127.0.0.1:8017/Core/Information"/>
        <wellknown type="MArc.DataUpload.EmailUploader, MArc.DataUpload" url="tcp://localhost:8017/Core/EmailUploader"/>
        <wellknown type="MArc.CS.CSCoordinator, MArc.ConfigurationServices" url="tcp://localhost:8017/Core/CS"/>
      </client>    
      <channels>
        <channel ref="tcp" secure="true" tokenImpersonationLevel="Delegation">
          <clientProviders>
            <provider type="MArc.Ada.Security.AdaClientSinkProvider, MArc.Ada.Authentication" />
            <formatter ref="binary" typeFilterLevel="Full" />
          </clientProviders>
        </channel>
      </channels>  
    </application>
    <customErrors mode="off"/>
  </system.runtime.remoting>
</configuration>