<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RegKeyURL" value="GFI\MAR15" />
    <add key="TempPath" value="Temp" />
    <!-- Relative path where the CSLocalCache will be hosted -->
    <add key="AuthenticationMode" value="Windows" />
    <add key="RemotingFile" value="remoting.config" />
    <!-- The respective file path to the remoting configuration file -->
    <add key="ADSearchMode" value="list" />
    <!-- search: Active Directory Search mode only allowed, list: Entire list is returned -->
    <add key="EncodeMessages" value="true" />
    <!-- Defines weather messages should be encoded -->
    <add key="CompressIfGreaterThanBytes" value="1048576" />
    <!-- Send messages as compressed if they exceed the defined amount in size in bytes -->
    <add key="BytesThresholdForChunking" value="5242880" />
    <!-- Maximum size (bytes) allowed chunk size default 5MB-->
    <add key="MessageSizeLimit" value="104857600" />
    <!-- Maximum size (bytes) allowed for a message or file to be archived (default: 100 MB) -->
  </appSettings>
  <system.web>
    <compilation debug="false" targetFramework="4.0" />
    <httpRuntime maxRequestLength="5242880" />
    <authentication mode="Windows" />
    <httpModules>
      <add type="MArc.Web.Services.LoaderModule,MArc.Web.Services" name="LoaderModule" />
    </httpModules>
    <identity impersonate="false" />
  </system.web>
  <location path="ManualArchiving.svc">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" />
    <services>
      <service name="MArc.Web.Services.CheckVersion" behaviorConfiguration="HttpBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpBinding" contract="MArc.Web.Services.Base.ICheckVersion" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpBinding" contract="MArc.Web.Services.Base.ICheckVersion" />
      </service>
      <service name="MArc.Web.Services.CheckVersionHttps" behaviorConfiguration="HttpsBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpsBinding" contract="MArc.Web.Services.Base.ICheckVersion" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpsBinding" contract="MArc.Web.Services.Base.ICheckVersion" />
      </service>
      <service name="MArc.Web.Services.ManualArchive" behaviorConfiguration="HttpBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpBinding" contract="MArc.Web.Services.Base.IManualArchive" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpBinding" contract="MArc.Web.Services.Base.IManualArchive" />
      </service>
      <service name="MArc.Web.Services.ManualArchiveHttps" behaviorConfiguration="HttpsBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpsBinding" contract="MArc.Web.Services.Base.IManualArchive" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpsBinding" contract="MArc.Web.Services.Base.IManualArchive" />
      </service>
      <service name="MArc.Web.Services.ManualArchiving" behaviorConfiguration="HttpBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpBinding" contract="MArc.Web.Services.Base.IManualArchiving" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpBinding" contract="MArc.Web.Services.Base.IManualArchiving" />
      </service>
      <service name="MArc.Web.Services.ManualArchivingHttps" behaviorConfiguration="HttpsBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpsBinding" contract="MArc.Web.Services.Base.IManualArchiving" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpsBinding" contract="MArc.Web.Services.Base.IManualArchiving" />
      </service>
      <service name="MArc.Web.Services.ArchiveAssistant" behaviorConfiguration="HttpBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpBinding" contract="MArc.Web.Services.Base.IArchiveAssistant" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpBinding" contract="MArc.Web.Services.Base.IArchiveAssistant" />
      </service>
      <service name="MArc.Web.Services.ArchiveAssistantHttps" behaviorConfiguration="HttpsBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpsBinding" contract="MArc.Web.Services.Base.IArchiveAssistant" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpsBinding" contract="MArc.Web.Services.Base.IArchiveAssistant" />
      </service>
      <service name="MArc.Web.Services.FaxArchiveAssistant" behaviorConfiguration="HttpBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpBinding" contract="MArc.Web.Services.Base.IFaxArchiveAssistant" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpBinding" contract="MArc.Web.Services.Base.IFaxArchiveAssistant" />
      </service>
      <service name="MArc.Web.Services.FaxArchiveAssistantHttps" behaviorConfiguration="HttpsBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpsBinding" contract="MArc.Web.Services.Base.IFaxArchiveAssistant" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpsBinding" contract="MArc.Web.Services.Base.IFaxArchiveAssistant" />
      </service>
      <service name="MArc.Web.Services.FileArchiveAssistant" behaviorConfiguration="HttpBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpBinding" contract="MArc.Web.Services.Base.IFileArchiveAssistant" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpBinding" contract="MArc.Web.Services.Base.IFileArchiveAssistant" />
      </service>
      <service name="MArc.Web.Services.FileArchiveAssistantHttps" behaviorConfiguration="HttpsBehavior">
        <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverAnonymousHttpsBinding" contract="MArc.Web.Services.Base.IFileArchiveAssistant" />
        <endpoint address="Windows" binding="basicHttpContextBinding" bindingConfiguration="MailArchiverWindowsHttpsBinding" contract="MArc.Web.Services.Base.IFileArchiveAssistant" />
      </service>
    </services>
    <!--
    <client>
      <endpoint binding="basicHttpContextBinding" bindingConfiguration="MailArchiverBinding" contract="MArc.Web.Services.Base.IManualArchiving" />
      <endpoint binding="basicHttpContextBinding" bindingConfiguration="ArchiveAssistantBinding" contract="MArc.Web.Services.Base.IArchiveAssistant" />
    </client>
    -->
    <bindings>
      <basicHttpContextBinding>
        <binding name="MailArchiverAnonymousHttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="MailArchiverWindowsHttpBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
        <binding name="MailArchiverAnonymousHttpsBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="MailArchiverWindowsHttpsBinding" maxBufferSize="2147483647" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="Buffered">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpContextBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="HttpBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="HttpsBehavior">
          <serviceMetadata httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.webServer>
    <httpErrors existingResponse="PassThrough" />
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="LoaderModule" type="MArc.Web.Services.LoaderModule" preCondition="managedHandler" />
    </modules>
    <security>
      <!-- <access sslFlags="None" /> -->
      <authentication>
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
    <handlers accessPolicy="Read, Script" />
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
        <add value="ManualArchiving.svc" />
        <add value="default.html" />
        <add value="index.asp" />
      </files>
    </defaultDocument>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <remove name="Default" />
        <add name="TextListener" type="GFI.Common.DirectoryListener, GFI.Common.Tracing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4637077a7a2c17fb" initializeData="DebugLogs\" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>