<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- ASPNET AJAX TreeView Referesh -->
  <!-- end ASPNET AJAX TreeView Referesh -->
  <appSettings>
    <add key="RegKeyURL" value="GFI\MAR15" />
    <add key="ThisVersion" value="152" />
    <!-- UPDATE THIS BUILD NO. EVERYTIME WE DO A RELEASE -->
    <add key="TempPath" value="Temp" />
    <add key="AuthenticationMode" value="Windows" />
    <add key="ProfileStorePath" value="~/Profiles" />
    <add key="XMLPath" value="~/Settings/feconfig.xml" />
    <add key="TellMeMorePath" value="~/Help/TellMeMore.xml" />
    <add key="XSLTreePath" value="~/Settings/fetree.xsl" />
    <add key="XSLRecepientsPath" value="~/Settings/recepients.xsl" />
    <add key="NTFSPermissions" value="false" />
    <add key="VerifyDirectories" value="true" />
    <add key="PagesPhysicalPath" value="Pages" />
    <add key="NonMappedPaths" value="Images;Styles;Services;Scripts" />
    <add key="MasterPages.DefaultMasterPage" value="master.aspx" />
    <add key="RadControls" value="~/RadControls/" />
    <add key="UrlLessResources" value="true" />
    <add key="DefaultResource" value="Mar.Resources" />
    <add key="SettingsDir" value="Settings" />
    <add key="NonFramedFiles" value="mailview.aspx;attachment.aspx;body.aspx;source.aspx;main.aspx;default.htm;navigation.aspx" />
    <add key="MaxSearchDate" value="2035-12-31" />
    <add key="MinSearchDate" value="1990-01-01" />
    <add key="MaxSearchMessageSize" value="1073741824" />
    <add key="noScrubber" value="false" />
    <add key="CheckFS" value="false" />
    <add key="ShowInlineImages" value="true" />
    <add key="ForceMsgDownload" value="false" />
    <add key="SaveAuditSettings" value="false" />
    <add key="OutlookIntegration.FolderTagAccepted" value="FOLDER" />
    <add key="OutlookIntegration.InboxTagAccepted" value="FOLDER_INBOX" />
    <add key="OutlookIntegration.SentTagAccepted" value="FOLDER_SENT" />
    <add key="OutlookIntegration.DelTagAccepted" value="FOLDER_DELETED" />
    <add key="OutlookIntegration.CalendarTagAccepted" value="FOLDER_CALENDAR" />
    <add key="OutlookIntegration.FileTagAccepted" value="FOLDER_FILE" />
    <add key="OutlookIntegration.FileDeletedTagAccepted" value="FOLDER_FILE_DELETED" />
    <add key="OutlookConnectorPath32" value="~/Client Tools/MAROC_32bitOutlook.exe" />
    <add key="OutlookConnectorPath64" value="~/Client Tools/MAROC_64bitOutlook.exe" />
    <add key="ManualArchivingPath" value="~/Client Tools/MAR_ArchiveAssistant.exe" />
    <add key="FileArchiveAssistantX86Path" value="~/Client Tools/MAR_FileArchiveAssistant_32bit.exe" />
    <add key="FileArchiveAssistantX64Path" value="~/Client Tools/MAR_FileArchiveAssistant_64bit.exe" />
    <add key="MailboxCacheMinutesDuration" value="2" />
    <add key="ADRetrievalMode" value="Full" />
    <add key="OutlookWSDumpEnabled" value="false" />
    <add key="GFIErrorMsgs" value="true" />
    <add key="ValidateExchangeMgmtToolsInstalled" value="false" />
    <add key="RefreshEmailsMinutes" value="0" />
    <add key="ADSearchTypeVisibile" value="false" />
    <add key="ProductCode" value="MAR15" />
    <add key="MobileResultsPerPage" value="10" />
    <add key="SortAdminArchiveStores" value="DSC" />
    <!-- Allowed Values ASC/DSC/NONE  Ascending/Descending/None -->
    <add key="FadeOutMessagesInSeconds" value="5" />
    <!-- The number of seconds before a message in the admin part of the UI fades out-->
    <add key="HideMailInsights" value="false" />
    <!-- Force hiding the MailInsights Tab no matter if Full Access user-->
    <add key="SecondsToRedoReport" value="60" />
    <!-- Seconds for the MailInsights report to regenerate-->
    <add key="FullAccessAllowedPgs" value="mailinsights.aspx" />
    <!-- User pages that only Full Access user is allowed to access-->
    <add key="TellMeMoreDefaultPage" value="default.htm" />
    <add key="TemplatesPath" value="Templates" />
    <!-- IMAP Instructions-->
    <add key="JobSearchDomains" value="monster.com;jobster.com;jobcentral.com;hotjobs.yahoo.com;careerbuilder.com;indeed.com;simplyhired.com;jobing.com;reed.co.uk;jobsearch.co.uk;monster.co.uk;totaljobs.com;fish4.co.uk;cityjobs.com" />
    <!-- Update GUIDs for rules in Categorization, Rule Based Archiving-->
    <add key="UpdateRulesGuids" value="false" />
    <!-- Set the language to be used when a new profile is setup rather that the registry one. If empty the registry will be used-->
    <!-- Options: en/de/fr/it/es/ru/cs/nl/ja/zh-CN/zh-TW/ko/he/ar-->
    <add key="DefaultProfileLanguage" value="" />
    <add key="PasswordExclusionList" value="£" />
    <!-- if "true" Hides BCC from Email for users without the "View all emails" permission. -->
    <add key="HideBCCForNormalUsers" value="false" />
    <!-- Defines how the search for groups is done in UI Drop Downs options allowed "contains" "startswith" -->
    <add key="GroupSearch" value="contains" />
    <!-- Defines whether a DateTime range is passed to Search when anytime is chosen true:Datetime is passed false:not-->
    <add key="FilterSearchAnyTime" value="false" />
  </appSettings>
  <connectionStrings />
  <system.diagnostics>
    <switches>
      <add name="Global" value="3" />
    </switches>
    <trace autoflush="true" indentsize="0">
      <listeners>
        <remove name="Default" />
        <add name="TextListener" type="GFI.Common.DirectoryListener, GFI.Common.Tracing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=4637077a7a2c17fb" initializeData="DebugLogs\" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <!-- sharepoint fix -->
    <pages asyncTimeout="300" enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
      </controls>
      <!-- ASPNET AJAX TreeView Referesh -->
      <!-- end ASPNET AJAX TreeView Referesh -->
    </pages>
    <!-- end sharepoint fix -->
    <httpRuntime requestValidationMode="2.0" maxRequestLength="8192" executionTimeout="600" />
    <httpModules>
      <!-- sharepoint fix -->
      <clear />
      <add name="OutputCache" type="System.Web.Caching.OutputCacheModule" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
      <add name="WindowsAuthentication" type="System.Web.Security.WindowsAuthenticationModule" />
      <add name="FormsAuthentication" type="System.Web.Security.FormsAuthenticationModule" />
      <add name="PassportAuthentication" type="System.Web.Security.PassportAuthenticationModule" />
      <add name="RoleManager" type="System.Web.Security.RoleManagerModule" />
      <add name="UrlAuthorization" type="System.Web.Security.UrlAuthorizationModule" />
      <add name="FileAuthorization" type="System.Web.Security.FileAuthorizationModule" />
      <add name="AnonymousIdentification" type="System.Web.Security.AnonymousIdentificationModule" />
      <add name="Profile" type="System.Web.Profile.ProfileModule" />
      <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!-- end sharepoint fix -->
      <add type="MArc.Web.LoaderModule,MArc.Web.Loader" name="Loader" />
      <add name="RadCompression" type="Telerik.Web.UI.RadCompression" />
      <!-- ASPNET AJAX TreeView Referesh -->
      <!-- end ASPNET AJAX TreeView Referesh -->
    </httpModules>
    <!-- sharepoint fix -->
    <trust level="Full" originUrl="" />
    <identity impersonate="false" />
    <!-- end sharepoint fix -->
    <httpHandlers>
      <!-- sharepoint fix -->
      <remove verb="GET,HEAD,POST" path="*" />
      <add path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" validate="true" />
      <!-- end sharepoint fix -->
      <!-- Web Loader -->
      <add verb="*" path="aspnettest.ashx" type="MArc.Web.AspNetTest,MArc.Web.Loader" />
      <add verb="*" path="remotingtest.ashx" type="MArc.Web.RemotingTest,MArc.Web.Loader" />
      <add verb="*" path="securitytest.ashx" type="MArc.Web.SecurityTest,MArc.Web.Loader" />
      <add verb="*" path="settingstest.ashx" type="MArc.Web.SettingsTest,MArc.Web.Loader" />
      <add verb="*" path="storetest.ashx" type="MArc.Web.DalTest,MArc.Web.Loader" />
      <add verb="*" path="cachetest.ashx" type="MArc.Web.CacheTest,MArc.Web.Loader" />
      <add verb="*" path="searchtest.ashx" type="MArc.Web.SearchTest,MArc.Web.Loader" />
      <add verb="*" path="dstest.ashx" type="MArc.Web.DSTest,MArc.Web.Loader" />
      <add verb="*" path="authenticatetest.ashx" type="MArc.Web.AuthenticateTest,MArc.Web.Loader" />
      <add verb="*" path="initializetest.ashx" type="MArc.Web.InitializeTest,MArc.Web.Loader" />
      <!-- end Web Loader -->
      <!-- ASPNET AJAX TreeView Referesh -->
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
      <!-- end ASPNET AJAX TreeView Referesh -->
      <!-- sharepoint fix -->
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
      <add path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" validate="false" />
      <add path="*" verb="GET,HEAD,POST" type="System.Web.DefaultHttpHandler" validate="true" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false" />
      <!-- end sharepoint fix -->
    </httpHandlers>
    <profile defaultProvider="MyProvider">
      <providers>
        <add name="MyProvider" type="MarProvider.MArcProfileProvider" profileStorePath="" />
      </providers>
      <properties>
        <add name="xmlString" type="string" provider="MyProvider" />
        <add name="Language" type="string" provider="MyProvider" />
        <add name="TimeZone" type="string" provider="MyProvider" />
        <add name="ResultsPP" type="int" provider="MyProvider" />
        <add name="LastMailArchiverIAccessed" type="int" provider="MyProvider" />
        <add name="MailboxUserNameStyle" type="string" provider="MyProvider" />
        <add name="AuditingReportDateTimeFormat" type="string" provider="MyProvider" />
        <add name="userFolders" type="System.Xml.XmlDocument" provider="MyProvider" />
        <add name="ShowPostInstallWizard" type="bool" provider="MyProvider" />
        <add name="SavedSearchString" type="string" provider="MyProvider" />
        <add name="SavedMailInsightsOptions" type="string" provider="MyProvider" />
        <add name="MailBoxList" type="string" provider="MyProvider" />
        <add name="ADSearchType" type="string" provider="MyProvider" />
        <add name="ConfigPageMode" type="string" provider="MyProvider" />
      </properties>
    </profile>
    <!--      
      Set compilation debug="true" to insert debugging
      symbols into the compiled page. Because this
      affects performance, set this value to true only
      during development.
    -->
    <compilation debug="false" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Windows" />
    <customErrors mode="Off" />
  </system.web>
  <location path="aspnettest.ashx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="remotingtest.ashx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="securitytest.ashx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="authenticatetest.ashx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <location path="initializetest.ashx">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ServiceModel" />
      <add name="Loader" type="MArc.Web.LoaderModule,MArc.Web.Loader" preCondition="managedHandler" />
    </modules>
    <handlers accessPolicy="Read, Script">
      <remove name="ChartImage_axd" />
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd" />
      <remove name="Telerik_Web_UI_DialogHandler_aspx" />
      <remove name="Telerik_RadUploadProgressHandler_ashx" />
      <remove name="Telerik_Web_UI_WebResource_axd" />
      <add name="searchtest.ashx_*" path="searchtest.ashx" verb="*" type="MArc.Web.SearchTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="cachetest.ashx_*" path="cachetest.ashx" verb="*" type="MArc.Web.CacheTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="storetest.ashx_*" path="storetest.ashx" verb="*" type="MArc.Web.DalTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="settingstest.ashx_*" path="settingstest.ashx" verb="*" type="MArc.Web.SettingsTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="securitytest.ashx_*" path="securitytest.ashx" verb="*" type="MArc.Web.SecurityTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="remotingtest.ashx_*" path="remotingtest.ashx" verb="*" type="MArc.Web.RemotingTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="aspnettest.ashx_*" path="aspnettest.ashx" verb="*" type="MArc.Web.AspNetTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="dstest.ashx_*" path="dstest.ashx" verb="*" type="MArc.Web.DSTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="authenticatetest.ashx_*" path="authenticatetest.ashx" verb="*" type="MArc.Web.AuthenticateTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="initializetest.ashx_*" path="initializetest.ashx" verb="*" type="MArc.Web.InitializeTest,MArc.Web.Loader" preCondition="integratedMode,runtimeVersionv4.0" />
      <!-- ASPNET AJAX TreeView Referesh -->
      <add name="ScriptResource" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode" />
      <add name="ChartImage_axd" path="ChartImage.axd" type="Telerik.Web.UI.ChartHttpHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" preCondition="integratedMode" />
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode" />
      <!-- end ASPNET AJAX TreeView Referesh -->
    </handlers>
    <!-- 
      REF: TT651-MA7.1
      This is required so that on IIS7 when HTTP status code 420 which only MAR knows how to handle is sent is not stopped with custom error message from IIS (on Remote) 
      as the ASHX will know how to handle it and respond to it PassThrough=Leaves the response untouched if an existing response exists 
    -->
    <httpErrors existingResponse="PassThrough" />
    <security>
      <authentication>
        <windowsAuthentication enabled="true" />
      </authentication>
    </security>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
        <add value="default.aspx" />
        <add value="default.html" />
        <add value="index.asp" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>